<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
    <link rel="stylesheet" href="/styles/content.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
   <main>
    <h1> About us</h1>
    <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, ex officia. Nesciunt ipsa quas harum assumenda cum neque dolore iste sit, mollitia delectus rerum. Laborum eveniet non rem sapiente aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quo eligendi unde alias modi necessitatibus culpa autem sequi distinctio esse reprehenderit saepe quos vitae sit labore recusandae placeat, eius facilis.</p>
    <div >
      <img src="/styles/5967548340293976959_121.jpg" alt="cat image" class="profile" >
    </div>
   </main>
   <%- include("partials/footer.ejs") %>
</body>
</html>