<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
    <link rel="stylesheet" href="/styles/content.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <h1> CONTACT US</h1>
   <div>
    <form action="/submit" method="POST" id="form-wrapper" onsubmit="(e)=>e.preventDefault()">
  
           <div>   
            <label for="name">FULL NAME: </label>
            <input type="text" id="Fname" name="Fname" class="feedback-input">
           </div>
        
            <div>
            <label for="Lname">EMAIL : </label>
             <input type="email" id="email" name="email" class="feedback-input">
            </div> 

         <textarea name="message" id="message" cols="50" rows="20" placeholder="write your feedback here!" class="feedback-input"></textarea>
            
              
           <div>
            <button type="submit">Submit</button>
           </div>
            
</form>  
   </div>
   <%- include("partials/footer.ejs") %>
</body>
</html>